@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
/* Box component */
.box {
  padding: 0.5rem 0.6rem;
  background-color: #fff;
  border-top: 3px solid var(--primary);
  height: 100%;
}
.box-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
  top: 0; */
  z-index: 10;
}
.main-content > .box {
  min-height: calc(100vh - 120px);
  height: 100%;
  overflow: auto;
}
.main-content > .box::-webkit-scrollbar {
  width: 0.2rem;
}

.main-content > .box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.main-content > .box::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  outline: 1px solid var(--primary);
  height: 40px;
}
/*  */

.login-section {
  height: 100vh;
  display: flex;
  background: url('/src/assets/img/brand-icon.png') no-repeat 104.7% 104%
    var(--primary-light-90);
}

.login-section-left {
  background: url('../img/login-left-bg.png') no-repeat 0;
  background-size: cover;
  background-color: var(--primary);
  width: 35%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
}
.login-section-right {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site-info {
  text-align: center;
  padding: 1rem 0;
  font-size: 14px;
  font-weight: 600;
}
.login-section-left_footer {
  align-items: flex-end;
}

/* Social Links */
.social-links {
  display: flex;
  gap: 24px;
}
.social-links a {
  color: #fff;
  font-size: 1.2rem;
}
.social-links a:hover {
  opacity: 0.6;
}

.version-text {
  font-size: 14px;
  letter-spacing: 1px;
}

.login-wrapper {
  max-width: 480px;
  min-width: 480px;
  padding: 2.5rem 1.5rem 2.3rem;
  margin: auto;
  align-self: center;
  border-radius: 4px;
  background-color: var(--primary-light-100);
  border: 1px solid #ddd;
  border-top: 4px solid var(--primary);
}
.login-wrapper .input-group-text {
  font-size: 1.2rem;
  background-color: #f9f9f9;
  color: #888;
}
.label-hospital {
  font-size: 16px;
  font-weight: 500;
}
.login-submit-btn {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 0.6rem 1rem;
}

/* Patient search result */
.patient-search-result {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: auto;
  z-index: 10;
  /* display: none; */
}
.patient-result-open {
  display: block;
}
/* Chart js */
.chart-canvas {
  height: 600px;
}

/* light-border-info-box */
.light-border-info-box {
  background-color: #fff;
}
.light-border-info-box_item {
  padding: 0.4rem 0.5rem;
  border: 1px solid #eee;
  margin: -0.5px 0;
}
